Repository rexerwang/channelstate: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}'
      run: npx biome check --write {staged_files}
      stage_fixed: true
    prettier:
      glob: '*.{html,json,css,scss,md,yml}'
      run: npx prettier --write {staged_files}
      stage_fixed: true

pre-push:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm -r typecheck

chore(release): v0.1.0
  package.json
Due: prettier

ci: npm provenance
  .github/workflows/release.yml
Due: prettier

chore(package.json): meta
  package.json
Due: prettier

chore(readme): installation
  README.md
Due: prettier

chore(ci): update test workflow triggers
  .github/workflows/test.yml
Due: prettier

feat(react): optimize hooks to `useChannelState` & `useChannelStateWithSelector`
  src/react.ts
Due: biome

chore(examples): update for new hooks
  examples/src/shared/Hello.tsx
  examples/src/shared/state.ts
Due: biome

chore(package.json): check
  package.json
Due: prettier

chore(readme): badges
  README.md
Due: prettier

chore(release): v0.1.1
  package.json
Due: prettier

chore(examples): stringify snapshots
  examples/src/shared/Hello.tsx
  examples/src/shared/state.ts
Due: biome

ci: fix lint via biome
  .github/workflows/test.yml
Due: prettier

chore(examples): add example for `preact`
  .github/workflows/test.yml
  examples/preact/.gitignore
  examples/preact/package.json
  examples/preact/pnpm-lock.yaml
  examples/preact/postcss.config.cjs
  examples/preact/public/.gitkeep
  examples/preact/rsbuild.config.ts
  examples/preact/src/env.d.ts
  examples/preact/src/main.css
  examples/preact/src/pages/index/index.tsx
  examples/preact/src/pages/replica1/index.tsx
  examples/preact/src/pages/replica2/index.tsx
  examples/preact/src/shared/Hello.tsx
  examples/preact/src/shared/state.ts
  examples/preact/tailwind.config.ts
  examples/preact/tests/e2e/channelstore.test.ts
  examples/preact/tsconfig.json
  examples/react/.gitignore
  examples/react/package.json
  examples/react/playwright.config.ts
  examples/react/pnpm-lock.yaml
  examples/react/postcss.config.cjs
  examples/react/public/.gitkeep
  examples/react/rsbuild.config.ts
  examples/react/src/env.d.ts
  examples/react/src/main.css
  examples/react/src/pages/index/index.tsx
  examples/react/src/pages/replica1/index.tsx
  examples/react/src/pages/replica2/index.tsx
  examples/react/src/shared/Hello.tsx
  examples/react/src/shared/state.ts
  examples/react/tailwind.config.ts
  examples/react/tests/e2e/channelstore.test.ts
  examples/react/tsconfig.json
  examples/tailwind.config.ts
  examples/tsconfig.json
  package.json
  scripts/test.sh
Due: biome, prettier

feat: add `create()`, `create.primary()`, `create.replica()` for creating channelState and optimize export structure
  package.json
  src/impl/createChannelStateImpl.ts
  src/impl/createPrimaryChannelStateImpl.ts
  src/impl/createReplicaChannelStateImpl.ts
  src/impl/uuid.ts
  src/index.ts
  src/react.ts
  src/traditional.ts
  src/vanilla.ts
Due: biome, prettier

chore(examples): update for new apis
  examples/preact/src/pages/index/index.tsx
  examples/preact/src/pages/replica1/index.tsx
  examples/preact/src/pages/replica2/index.tsx
  examples/preact/src/shared/Hello.tsx
  examples/preact/src/shared/state.ts
  examples/react/src/pages/index/index.tsx
  examples/react/src/pages/replica1/index.tsx
  examples/react/src/pages/replica2/index.tsx
  examples/react/src/shared/Hello.tsx
  examples/react/src/shared/state.ts
Due: biome

chore(release): v0.2.0
  package.json
Due: prettier
